.image-wrapper-outer {
	position: relative;
	overflow: hidden;
}

.image-wrapper-outer:after {
	content: '';
	display: block;
	height: 0;
	width: 100%;
	padding-bottom: 55%;
}

.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	overflow: hidden;
}

.image-wrapper:hover .image {
	transform: scale3d(1.07, 1.07, 1.07);
}

.clip-top,
.clip-bottom {
	z-index: 1;
	position: absolute;
	fill: white;
	height: 15%;
}

.clip-top {
	top: -1px;
}

.clip-bottom {
	bottom: -1px;
}

.image {
	display: block;
	transition: 200ms transform ease-in;
	width: 100%;
	display: block;
	overflow: hidden;
}

@media (min-width: 400px) {
	.image-wrapper-outer:after {
		padding-bottom: 65%;
	}
}

@media (min-width: 650px) {
	.image-wrapper-outer:after {
		padding-bottom: 75%;
	}
}

@media (min-width: 1025px) {
	.clip-top,
	.clip-bottom {
		height: 10%;
	}

	.image-wrapper-outer:after {
		padding-bottom: 62%;
	}
}

@media (min-width: 1160px) {
	.image-wrapper-outer:after {
		padding-bottom: 48%;
	}
}
