:host {
	font-family: $fontSbbRoman;
	-webkit-font-smoothing: antialiased;
	display: block;
	width: auto;
	margin: 0 0 (24rem / 16) 0;
	position: relative;
}

* {
	box-sizing: border-box;
}

input, label {
	display: block;
	width: 100%;
	font-size: 1rem;
	color: $color-black;
}

label span {
	display: block;
	padding: 0 0 (5rem / 16) (8rem / 16);
	margin: 0;
	font-size: (13rem / 16);
	opacity: 0;
	transition: opacity 0.2s;
}

label span.visible {
	opacity: 1;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border: (2rem / 16) solid $color-black-20;
	border-radius: 2rem / 16;
	outline: none;
	padding: (10rem / 16) (12rem / 16);

	&:focus {
		border-color: $color-black;
		outline: none;
	}
}

ul {
	// hide the bottom border of the input with the list
	transform: translate(0, (-2rem / 16));
	z-index: 1;

	border: (2rem / 16) solid $color-black;
	border-top: 0;
	position: absolute;
	background-color: white;
	width: 100%;
	margin: 0;
	padding: (9rem / 16) 0 (12rem / 16);
	list-style-type: none;
	box-shadow: 0 (6rem / 16) 0 rgba(0,0,0,.15);

	&:before {
		// Gray separator line
		content: '';
		display: block;
		top: 0;
		left: 0;
		right: 0;
		height: (1rem / 16);
		background-color:  $color-black-20;
		position: absolute;
	}

}

li {
	margin: 0;
	padding: (6rem / 16) (15rem / 16);
	font-size: (15rem / 16);
	cursor: pointer;
	&:hover, &.is-active {
		color: $color-red-hover;
	}
}
