.button {
	background: $color-red;
	border: none;
	outline: none;
	font-family: $fontSbbLight;
	font-size: 1rem;
	color: #ffffff;
	padding: .5rem 1rem;
	cursor: pointer;
}

.button:hover {
	background: $color-red-hover;
}
