:host {
	padding: 0 .8rem;
	display: flex;
	flex-wrap: wrap;

	max-width: ((600rem / 16) + (2 * .8rem));
	margin: 0 auto;
}
div {
	flex-basis: 100%;
}

@media (min-width: 643px) {
	:host {
		flex-wrap: nowrap;
	}
	div {
		padding-left: 1rem;
		flex-basis: 50%;
	}
	div:first-of-type {
		margin-left: -1rem;
	}
}
