.spinner {
	width: 3rem;
	height: 3rem;

	position: relative;
	margin: 1rem auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(235, 0, 0, 1);
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	animation-delay: -1.0s;
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
