:host {
	flex-basis: 100%;
	display: block;
	margin-bottom: 1rem;
}

.item {
	font-family: $fontSbbLight;
	height: 100%;
}

.link {
	background-color: #F6F6F6;
	display: block;
	transition: background-color 200ms ease-in;
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.image-wrapper {
	overflow: hidden;
	flex-shrink: 0;
}

.link:hover {
	background-color: #E5E5E5;
}

.image {
	display: block;
	width: 100%;
	transition: transform 200ms ease-in;
}

.link:hover .image {
	transform: scale3d(1.05, 1.05, 1.05);
}

.text-wrapper {
	display: flex;
	flex-direction: column;
	padding: .6rem;
	height: 100%;
}

.title {
	margin: 0.9rem 0 2rem;
	font-size: 1.2rem;
	font-weight: normal;
}

.text {
	display: none;
	font-family: $fontSbbRoman;
	line-height: 1.7rem;
	font-size: .9rem;
}

.bottom-link {
	display: block;
	margin-bottom: 1.2rem;
	font-family: $fontSbbRoman;
	font-size: .9rem;
	transition: color 200ms ease-in;
}

.link:hover .bottom-link {
	color: $color-red-hover;
}

.bottom-link-icon {
	display: inline-block;
	margin-left: .6rem;
	fill: $color-red;
}

.link:hover .bottom-link-icon {
	fill: $color-red-hover;
}

@media (min-width: 643px) {
	:host {
		flex-basis: calc(50% - .5rem);
	}

	.text-wrapper {
		padding: 1.5rem;
	}

	.text-wrapper-inner {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		height: 100%;
		justify-content: space-between;
	}

	.text {
		display: block;
		margin-top: 0;
	}
}

@media (min-width: 1025px) {
	:host {
		flex-basis: calc(25% - 1rem);
	}
}
